<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>
<div *ngIf="message" class="alert alert-success">
  <p>{{ message }}</p>
</div>
<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="text-center">
    <input
      type="file"
      id="customFile"
      (change)="onFileSelected($event)"
      hidden
    />
    <label for="customFile" class="custom-file-upload">
      <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
    </label>
    <p>{{ fileName }}</p>
    <div *ngIf="isUploading">
      <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>
