/* You can add global styles to this file, and also import other style files */
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
html,
body {

  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f9ff;
  color: #444444;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

}

.header {
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 90px;
  background-color: #fff;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}



#main,
#footer {
  margin-left: 300px;
}

#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

/* Menu */
.sidebar {
  left: -300px;
}

aside {
  display: block;
}

.sidebar {
  position: fixed;
  top: 92px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: #fff;
  background-image: linear-gradient(to top, #f6f9ff, #ffffff);
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*html element*/
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.nav-link {
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/*fin menu*/

img {
  width: 100px;
  height: auto;
  /* pour conserver les proportions originales */
}

h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}


textarea {
  height: 300px;
}


button {
  margin-top: 10px;
}

/* class */
.container {
  padding-left: 0;
  padding-right: 0;
}

.btn-space {
  margin-top: 10px;
}

.text-right {
  text-align: right;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  background-color: #ffcccc;
  border: 1px solid #ff9999;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}

.header-color th {
  background-color: #003366; /* Couleur de fond */
  color: white; /* Couleur du texte */
}
